Options -Indexes
RewriteEngine On
RewriteRule ^(app|config|storage|data|output|reference)/ - [F,L]
RewriteRule ^preview/ - [F,L]
RewriteRule ^\.git - [F,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z0-9-]+)/([a-z0-9-]+)/?$ index.php?activity=$1&page=$2 [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z0-9-]+)/?$ index.php?activity=$1 [QSA,L]
RewriteRule \.(sqlite|log|ini)$ - [F,L,NC]
<FilesMatch "^(local\.php|\.env)$">
Require all denied
</FilesMatch>
